.aboutContainer {
    height: 100vh; // flex: 1
    background-image: url("../../images/bg/about.png");
    // background-size: auto 100%;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
}

.mainContent {
    height: 100%;
    overflow: hidden;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;

    padding-top: 100px;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 147px; // 162px
    -webkit-text-stroke: 2px black;
    text-shadow: var(--purple-shadow-2px);
    letter-spacing: 5px;
}

.subtitle {
    display: flex;
    gap: 30px;
}

.firstName {
    font-size: 42px;
    font-family: "Colus";

    text-shadow: var(--blue-shadow-1\5px);
}

.secondName {
    font-size: 42px;
    font-family: "Colus";

    text-shadow: var(--purple-shadow-1\5px);
}
